body {
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.footer-hidden {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.footer-visible {
  opacity: 1;
}

.thumbnail-container::-webkit-scrollbar {
  display: none;
}

.thumbnail-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.thumbnail-img {
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
}

.thumbnail-img.active {
  border-color: #0d9488;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.group .group-hover\:block {
  display: none;
}

.group:hover .group-hover\:block {
  display: block;
}

#alert-popup {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#app-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
